name: Dockerimage nightly

on:
  push:
    branches:
      - dev
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  handbrake:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'dev'
    - name: Build the Docker image
      env:
        HUB_NAME: ${{ secrets.DOCKER_NAME }}
        HUB_KEY: ${{ secrets.DOCKER_TOKEN }}
      run: |  
        docker login -u $HUB_NAME -p $HUB_KEY
        docker build . --pull --no-cache --file Dockerfile --tag zocker160/handbrake-nvenc:nightly

        docker push zocker160/handbrake-nvenc:nightly
